<div class="accordion mt-5">
    <div class="accordion-tab1">
        <label class="label" routerLink="/dashboard">
      <i class="fa fa-dashboard icon" routerLink="/default"></i>
      <span class="name">Dashboard</span>
    </label>
    </div>
    <div class="accordion-tab">
        <input type="checkbox" id="toggle1" class="accordion-toggle" name="toggle" />
        <label class="label" for="toggle1">
      <i class="fa fa-gear icon"></i>
      <span class="name">Adminstration</span>
    </label>
        <div class="accordion-content">
            <ul class="ul">
                <li class="mt-3 mb-2 list" routerLink="/manageuser">
                    <a class="a"> <i class="fa fa-circle circle"></i>Manage Staff </a>
                </li>
                <!-- <li class="mt-3 mb-2 list" routerLink="/general">
                    <a class="a"> <i class="fa fa-circle circle"></i>Manage General </a>
                </li> -->
                <!-- <li class="mt-3 mb-2 list" routerLink="/operator">
                    <a class="a"> <i class="fa fa-circle circle"></i>Manage Operator </a>
                </li> -->
                <!-- <li class="mt-3 mb-2 list" routerLink="/managecustomer">
                    <a class="a"> <i class="fa fa-circle circle"></i>Manage Customers </a>
                </li> -->
                <!-- <li class="mt-3 mb-2 list" routerLink="/managerole">
                    <a class="a"> <i class="fa fa-circle circle"></i>Manage Role </a>
                </li> -->
            </ul>
        </div>
    </div>
    <!-- <div class="accordion-tab5 mt-2">
        <input type="checkbox" id="toggle5" class="accordion-toggle" name="toggle" />
        <label class="label" for="toggle5">
      <i class="fa fa-cogs icon"></i>
      <span class="name">Operation</span>
    </label>
        <div class="accordion-content">
            <ul class="ul">
                <li class="mt-3 mb-2 list" routerLink="/livelocation">
                    <a class="a"> <i class="fa fa-circle circle"></i>View Live Location</a>
                </li>
            
            </ul>
        </div>
    </div> -->
    <div class="accordion-tab4 mt-1">
        <input type="checkbox" id="toggle3" class="accordion-toggle" name="toggle" />
        <label class="label" for="toggle3">
      <i class="fa fa-file icon" style="padding: 8px"></i>
      <span class="name">Reports</span>
    </label>
        <div class="accordion-content">
            <ul class="ul">
                <li class="mt-3 mb-2  list">
                    <a class="a" routerLink="/salesreport">
                        <i class="fa fa-circle circle"></i>Sales Report
                    </a>
                </li>
                <li class="mt-3 mb-2  list">
                    <a class="a" routerLink="/bikesreports">
                        <i class="fa fa-circle circle"></i>Bike Reports
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>