ul li {
    list-style-type: none;
}

// mat-toolbar{
//     background-color: red;
// }
mat-icon {
    font-size: 25px;
}

button {
    outline: none;
}

.rotate {
    animation: rotation 4s infinite linear;
    color: white;
}

.person {
    color: white;
}

.help {
    color: white;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.help:hover {
    transform: translate(-39deg);
    color: white;
}

.menu {
    outline: none;
    background-color: white;
}

.zsoon {
    font-size: 1.3rem;
    font-family: sans-serif;
    color: white;
}

.person-button {
    outline: none;
}

.account-button {
    outline: none;
}

.exit-button {
    outline: none;
}

.key-button {
    outline: none;
}

// .person-button{
//     background: rgb(53, 53, 53);
//     color: white;
// }
#matMenu {
    background: rgb(53, 53, 53);
}