<ngx-spinner> </ngx-spinner>
<div class="container-fluid" *ngIf="editrole == false && addrole == false">
    <mat-card class="maincard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2>Manage Role</h2>
                </div>
                <div class="col-12 col-md-6">
                    <button mat-raised-button color="primary" class="addrole" (click)="AddRole()">
            <i class="fa fa-plus"></i> Add Role
          </button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12 col-md-2">
                    <select class="form-control">
            <option>Select Entries</option>
            <option>10</option>
            <option>10</option>
            <option>10</option>
            <option>10</option>
          </select>
                </div>
                <div class="col-12 col-md-3 ml-auto">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label> <i class="fa fa-search"></i> Search </mat-label>
                            <input matInput placeholder="Enter Value" value="" />
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-stripped table-bordered">
                            <thead>
                                <tr>
                                    <th>User Type</th>
                                    <th>Role</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Zsoon User</td>
                                    <td>Admin</td>
                                    <td>This Role Is For Admin</td>
                                    <td>
                                        <mat-icon color="accent" class="m-1" matTooltip="Edit" (click)="EditRole()">
                                            border_color</mat-icon>
                                        <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                                    </td>
                                </tr>
                                <tr>
                                    <td>General Agent</td>
                                    <td>New Admin</td>
                                    <td>This Role Is For New Admin</td>
                                    <td>
                                        <mat-icon color="accent" class="m-1" matTooltip="Edit">
                                            border_color</mat-icon>
                                        <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>

<!-- add role starts -->

<mat-card class="maincard" *ngIf="addrole == true">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="m-1 p-1">Add Role</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-5">
                <mat-card class="maincard">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>User Type</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let user of users" [value]="user.value">
                                    {{ user.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Enter Role</mat-label>
                            <input matInput placeholder="Enter Role" value="" />
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label style="font-size: 16px">Enter Description </mat-label>
                            <textarea matInput placeholder="Enter Description"></textarea>
                        </mat-form-field>
                    </form>
                </mat-card>
            </div>
            <div class="col-12 col-md-7">
                <mat-card class="maincard1">
                    <h3>Permission</h3>
                    <ngx-treeview [config]="config" [items]="items" (selectedChange)="onSelectedChange($event)" (filterChange)="onFilterChange($event)">
                    </ngx-treeview>
                </mat-card>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="text-right p-1">
                    <button mat-raised-button color="primary" class="m-1">Save</button>
                    <button mat-raised-button color="warn" (click)="Cancel()" class="m-1">
            Close
          </button>
                </div>
            </div>
        </div>
    </div>
</mat-card>
<!-- add role ends -->

<!-- edit role starts-->

<mat-card class="maincard" *ngIf="editrole == true">
    <!-- <div class="mat-card"> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="m-1 p-1">Edit Role</h2>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12 col-md-5">
                <mat-card class="maincard">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>User Type</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let user of users" [value]="user.value">
                                    {{ user.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Enter Role</mat-label>
                            <input matInput placeholder="Enter Role" value="" />
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Enter Description</mat-label>
                            <textarea matInput placeholder="Enter Description"></textarea>
                        </mat-form-field>
                    </form>
                </mat-card>
            </div>
            <div class="col-12 col-md-7">
                <mat-card class="maincard">
                    <h3>Permission</h3>
                    <ngx-treeview [config]="config" [items]="items" (selectedChange)="onSelectedChange($event)" (filterChange)="onFilterChange($event)">
                    </ngx-treeview>
                </mat-card>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="text-right p-1">
                    <button mat-raised-button color="primary" class="m-1">Save</button>
                    <button mat-raised-button color="warn" (click)="Cancel()" class="m-1">
            Close
          </button>
                </div>
            </div>
        </div>
    </div>

    <!-- </div> -->
</mat-card>
<!-- edit role ends -->