.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 80%;
}

.reg {
    cursor: pointer;
}

.forgot {
    cursor: pointer;
}

.form {
    position: relative;
    top: 26%;
    left: 12%;
}

.h2 {
    position: relative;
    top: 23%;
    left: 12%;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

button {
    width: 82%;
    position: relative;
    right: 10%;
    top: 30px !important;
    letter-spacing: 2.5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.side-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/login.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.stars {
    position: relative;
    top: 4px;
}

.logo {
    /* height: 80px;
    width: 30px !important; */
    position: relative;
    /* left: 12%; */
    top: 100px;
    left: 10%;
}

.mt-5 {
    color: black
}

.log {
    background: rgb(53, 53, 53);
    color: white;
}

::ng-deep.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(53, 53, 53) !important;
}

// ::ng-deep.mat-form-field-underline {
//     /*change color of underline*/
//     background-color: white !important;
// }
::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(53, 53, 53) !important;
}