<ngx-spinner>
</ngx-spinner>
<!-- <section class="bg">
    <div class="content">
        <div class="from-content">
            <div class="text-center img">
                <img src="../../assets/download.png" alt="" class="zsoonimg" />
            </div>

            <form class="example-form mt-3">
                <mat-form-field class="example-full-width">
                    <mat-label><i class="fa fa-envelope"></i> Email</mat-label>
                    <input matInput placeholder="Enter Mail" [(ngModel)]="logindata.email" name="email" type="text" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label><i class="fa fa-lock"></i> password</mat-label>
                    <input matInput placeholder="Enter Password" [(ngModel)]="logindata.password" name="password" type="text" />
                </mat-form-field>
            </form>

            <div class="mt-3 pl-3">
                <a routerLink="/forgot-password" class="text-left forgotpassword">Forgot Password ?</a
        >
      </div>

      <div class="text-center mt-4">
        <button
          class="btn btn-success btn-block mt-4"
         
          (click)="submit(logindata)"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</section> -->



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-sm-6 col-md-6">
            <div class="logo"><img src="../../../assets//logo.svg" alt="" /></div>
            <h2 class="h2">Login here <span class="stars">***</span></h2>
            <form class="form">
                <mat-form-field class="example-full-width">
                    <mat-label><i class="fa fa-user"></i> Email Address</mat-label>
                    <input matInput placeholder="Enter  Email Address" [(ngModel)]="logindata.email" name="email" (keypress)="eventHandler($event.target.value)" />
                </mat-form-field>
                <div *ngIf=" alert " class="text-danger ">username is required</div>

                <mat-form-field class="example-full-width ">
                    <mat-label><i class="fa fa-lock "></i> Password</mat-label>
                    <input type="password" matInput placeholder="Enter Password " [(ngModel)]="logindata.password " name="password " (keypress)="eventHandlers($event.target.value)" /> </mat-form-field>
                <div *ngIf="alert2 " class="text-danger ">password is required</div>

                <br />
                <br />

                <p class="forgot " routerLink="/forgot-password ">Forgot Password</p>
                <br />

                <a routerLink="/register" class="mt-5 ">Don't have account?
        <span class="reg ">Register</span></a
      >

      <div style="text-align: center ">
        <button mat-raised-button class="log "   (click)="submit(logindata) "  >
          Login
        </button>
      </div>
      <br /><br /><br />
      <!-- <p>Copyrights@rashid hassain 2021</p> -->
    </form>
  </div>
  <div class="col-lg-7 col-sm-6 col-md-6 ">
    <div class="side-page ">rashid</div>
  </div>
</div>
<div class="row "></div>
</div>