img {
    height: 10vh!important;
}

.icon i {
    padding: 12px;
    font-size: 1.5rem;
}

button {
    outline: none;
    // border-radius: 18px;
}

.maincard {
    width: 100%;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, .15);
}

.maincard1 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.3), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 22px;
}

.maincard1 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.3), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 22px;
}

::ng-deep.mat-tab-group.mat-warn .mat-ink-bar,
.mat-tab-nav-bar.mat-warn .mat-ink-bar {
    background-color: rgb(53, 53, 53) !important
}