<ngx-spinner>

</ngx-spinner>
<!-- table starts -->
<div class="container-fluid" *ngIf="editcustomer == false && addcustomer == false && viewcustomer == false">
    <mat-card class="maincard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2>Manage Customer</h2>
                </div>
                <div class="col-12 col-md-6">
                    <button mat-raised-button color="primary" class="addcustomer" (click)="AddCustomer()">
            <i class="fa fa-plus"></i> Add Customer
          </button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12 col-md-2">
                    <select class="form-control">
            <option>Select Entries</option>
            <option>10</option>
            <option>10</option>
            <option>10</option>
            <option>10</option>
          </select>
                </div>
                <div class="col-12 col-md-3 ml-auto">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label> <i class="fa fa-search"></i> Search </mat-label>
                            <input matInput placeholder="Enter Value" value="" />
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-stripped table-bordered">
                            <thead>
                                <tr>
                                    <th>Customer Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email Address</th>
                                    <th>Contact Number</th>
                                    <th>Country</th>
                                    <th>City</th>
                                    <th>Zip Code</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1001</td>
                                    <td>Rahul</td>
                                    <td>Kumar</td>
                                    <td>rahul@gmail.com</td>
                                    <td>8764892394</td>
                                    <td>India</td>
                                    <td>Banglore</td>
                                    <td>560085</td>
                                    <td>
                                        <mat-icon color="primary" class="m-1" matTooltip="View" (click)="ViewCustomer()">visibility</mat-icon>
                                        <mat-icon color="accent" class="m-1" matTooltip="Edit" (click)="EditCustomer()">
                                            border_color</mat-icon>
                                        <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1002</td>
                                    <td>Rakesh</td>
                                    <td>kumar</td>
                                    <td>rakesh@gmail.com</td>
                                    <td>8764898765</td>
                                    <td>India</td>
                                    <td>bangalore</td>
                                    <td>560045</td>
                                    <td>
                                        <mat-icon color="primary" class="m-1" matTooltip="View" routerLink="/viewcustomer">visibility</mat-icon>
                                        <mat-icon color="accent" class="m-1" matTooltip="Edit" routerLink="/editcustomer">
                                            border_color</mat-icon>
                                        <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1003</td>
                                    <td>vijay</td>
                                    <td>Kumar</td>
                                    <td>vijay@gmail.com</td>
                                    <td>8764894594</td>
                                    <td>India</td>
                                    <td>Banglore</td>
                                    <td>560056</td>
                                    <td>
                                        <mat-icon color="primary" class="m-1" matTooltip="View" routerLink="/viewcustomer">visibility</mat-icon>
                                        <mat-icon color="accent" class="m-1" matTooltip="Edit" routerLink="/editcustomer">
                                            border_color</mat-icon>
                                        <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>

<!-- table ends -->

<!-- add customer starts -->
<!-- <p>generalrole works!</p> -->
<mat-card class="maincard" *ngIf="addcustomer == true">
    <div class="container">
        <mat-horizontal-stepper>
            <mat-step label="Personal Details">
                <!-- <p>shipping</p> -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h4>Personal Details *</h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Customer Id</mat-label>
                                    <input matInput placeholder="Enter Your Id" />
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>City</mat-label>
                                    <input matInput placeholder="Enter Your city" />
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <!-- 2nd row -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>First Name</mat-label>
                                    <input matInput placeholder="Enter Your First Name" />
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Country</mat-label>
                                    <input matInput placeholder="Enter Your Country" />
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <!-- 2nd row ends -->
                    <!-- 3rd row -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput placeholder="Enter Your Last Name" />
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Contact</mat-label>
                                    <input matInput placeholder="Enter Your Contact Number" />
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <!-- 3rd row ends -->
                    <!-- 4th row -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Mail Address</mat-label>
                                    <input matInput placeholder="Enter Your Mail" />
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Zip Code</mat-label>
                                    <input matInput placeholder="Enter Your Zip Code" />
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <!-- 4th row ends -->
                    <div>
                        <button color="warn" mat-raised-button matStepperNext>Next</button>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Additional Details">
                <!-- <p>shipping</p> -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h4>Additional Details *</h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>City</mat-label>
                                    <input matInput placeholder="Enter The Name" />
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Zip code</mat-label>
                                    <input matInput placeholder="Enter The Role" />
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <!-- 2nd row -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>ID.Number</mat-label>
                                    <input matInput placeholder="Enter The Id Number" />
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Description</mat-label>
                                    <input matInput placeholder="Enter The Description" />
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <!-- 2nd row ends -->
                    <!-- 3rd row -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Mail Address</mat-label>
                                    <input matInput placeholder="Enter The Mail Address" />
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Contact</mat-label>
                                    <input matInput placeholder="Enter The Contact Number" />
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <!-- 3rd row ends -->
                    <!-- 4th row -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Address</mat-label>
                                    <textarea matInput placeholder="Enter The Address"></textarea>
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <!-- 4th row ends -->
                    <div>
                        <button color="primary" class="m-1" mat-raised-button matStepperPrevious>
              Previous
            </button>
                        <button color="warn" mat-raised-button matStepperNext>Next</button>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Others">
                <!-- <p>shipping</p> -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h4>Others *</h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-5">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label> Name</mat-label>
                                    <input matInput placeholder="Enter The Name" />
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-12 col-md-7">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Role</mat-label>
                                    <input matInput placeholder="Enter The Role" />
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <!-- 2nd row -->
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>ID.Number</mat-label>
                                    <input matInput placeholder="Enter The Id Number" />
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-12 col-md-7">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Description</mat-label>
                                    <input matInput placeholder="Enter The Description" />
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <!-- 2nd row ends -->
                    <!-- 3rd row -->
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Mail Address</mat-label>
                                    <input matInput placeholder="Enter The Mail Address" />
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-12 col-md-7">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Contact</mat-label>
                                    <input matInput placeholder="Enter The Contact Number" />
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <!-- 3rd row ends -->
                    <!-- 4th row -->
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Address</mat-label>
                                    <textarea matInput placeholder="Enter The Address"></textarea>
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <!-- 4th row ends -->
                    <div>
                        <button color="primary" class="m-1" mat-raised-button matStepperPrevious>
              Previous
            </button>
                        <button color="primary" mat-raised-button>Save</button>
                    </div>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
        <div class="text-right">
            <!-- <button mat-raised-button color="primary" class="m-1">Save</button> -->
            <button mat-raised-button color="warn" (click)="Cancel()">Close</button>
        </div>
    </div>
</mat-card>
<!-- add customer ends -->

<!-- edit customer starts -->
<!-- <p>generalrole works!</p> -->
<mat-card class="maincard" *ngIf="editcustomer == true">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Edit Customer</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Customer ID</mat-label>
                        <input matInput placeholder="Enter  Your Id" type="text" />
                    </mat-form-field>
                </form>
            </div>
            <div class="col-12 col-md-6">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Contact</mat-label>
                        <input matInput placeholder="Enter Your Contact" type="number" />
                    </mat-form-field>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter Your First Name" />
                    </mat-form-field>
                </form>
            </div>
            <div class="col-12 col-md-6">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Enter Your City" />
                    </mat-form-field>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter Your Last Name" />
                    </mat-form-field>
                </form>
            </div>

            <div class="col-12 col-md-6">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Country</mat-label>
                        <input matInput placeholder="Enter Your Country" />
                    </mat-form-field>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form class="example-form">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Mail</mat-label>
                            <input matInput placeholder="Enter Your Mail" />
                        </mat-form-field>
                    </form>
                </form>
            </div>

            <div class="col-12 col-md-6">
                <form class="example-form">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Zip Code</mat-label>
                            <input matInput placeholder="Enter Your Zip Code" />
                        </mat-form-field>
                    </form>
                </form>
            </div>
        </div>
    </div>
    <div class="text-right">
        <button mat-raised-button color="primary" class="m-1">Save</button>
        <button mat-raised-button color="warn" (click)="Cancel()">Close</button>
    </div>
</mat-card>
<!-- edit customer ends -->

<!-- view customer starts -->
<ngx-spinner></ngx-spinner>

<mat-card class="maincard" *ngIf="viewcustomer == true">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2>View Details</h2>
            </div>
            <div class="col-12 col-md-6">
                <button mat-raised-button color="primary" class="addcustomer" (click)="Cancel()">
          Back
        </button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <mat-tab-group>
                    <mat-tab label="Number Of Bookings">
                        <div class="table-responsive">
                            <table class="table table-stripped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Zone Code</th>
                                        <th>Zone Name</th>
                                        <th>Country</th>
                                        <th>City</th>
                                        <th>Co-Ordinate</th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Z001</td>
                                        <td>Rt Nagar</td>
                                        <td>India</td>
                                        <td>Bangalore</td>
                                        <td>Rahul@gmail.com</td>

                                        <td>
                                            <mat-icon color="primary" class="m-1" matTooltip="View" routerLink="/viewzones">visibility</mat-icon>

                                            <mat-icon color="accent" class="m-1" matTooltip="Edit">
                                                border_color</mat-icon>

                                            <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Z002</td>
                                        <td>Cbi Road</td>
                                        <td>India</td>
                                        <td>Bangalore</td>
                                        <td>Rakesh@gmail.com</td>

                                        <td>
                                            <mat-icon color="primary" class="m-1" matTooltip="View">visibility</mat-icon>

                                            <mat-icon color="accent" class="m-1" matTooltip="Edit">
                                                border_color</mat-icon>

                                            <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Z003</td>
                                        <td>Mekhri Circle</td>
                                        <td>India</td>
                                        <td>Bangalore</td>
                                        <td>suresh@gmail.com</td>

                                        <td>
                                            <mat-icon color="primary" class="m-1" matTooltip="View">visibility</mat-icon>

                                            <mat-icon color="accent" class="m-1" matTooltip="Edit">
                                                border_color</mat-icon>

                                            <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Z004</td>
                                        <td>Hebbal</td>
                                        <td>India</td>
                                        <td>Bangalore</td>
                                        <td>vijay@gmail.com</td>

                                        <td>
                                            <mat-icon color="primary" class="m-1" matTooltip="View">visibility</mat-icon>

                                            <mat-icon color="accent" class="m-1" matTooltip="Edit">
                                                border_color</mat-icon>

                                            <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>

                    <!-- 2 nd tab -->
                    <mat-tab label="Payment Details">
                        <div class="table-responsive">
                            <table class="table table-stripped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Zone Code</th>
                                        <th>Zone Name</th>
                                        <th>Country</th>
                                        <th>City</th>
                                        <th>Co-Ordinate</th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Z001</td>
                                        <td>Rt Nagar</td>
                                        <td>India</td>
                                        <td>Bangalore</td>
                                        <td>Rahul@gmail.com</td>

                                        <td>
                                            <mat-icon color="primary" class="m-1" matTooltip="View">visibility</mat-icon>

                                            <mat-icon color="accent" class="m-1" matTooltip="Edit">
                                                border_color</mat-icon>

                                            <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Z002</td>
                                        <td>Cbi Road</td>
                                        <td>India</td>
                                        <td>Bangalore</td>
                                        <td>Rakesh@gmail.com</td>

                                        <td>
                                            <mat-icon color="primary" class="m-1" matTooltip="View">visibility</mat-icon>

                                            <mat-icon color="accent" class="m-1" matTooltip="Edit">
                                                border_color</mat-icon>

                                            <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Z003</td>
                                        <td>Mekhri Circle</td>
                                        <td>India</td>
                                        <td>Bangalore</td>
                                        <td>suresh@gmail.com</td>

                                        <td>
                                            <mat-icon color="primary" class="m-1" matTooltip="View">visibility</mat-icon>

                                            <mat-icon color="accent" class="m-1" matTooltip="Edit">
                                                border_color</mat-icon>

                                            <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Z004</td>
                                        <td>Hebbal</td>
                                        <td>India</td>
                                        <td>Bangalore</td>
                                        <td>vijay@gmail.com</td>

                                        <td>
                                            <mat-icon color="primary" class="m-1" matTooltip="View">visibility</mat-icon>

                                            <mat-icon color="accent" class="m-1" matTooltip="Edit">
                                                border_color</mat-icon>

                                            <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</mat-card>

<!-- view customer ends -->