<ngx-spinner> </ngx-spinner>
<div class="container-fluid" *ngIf="edituser == false && adduser == false">
    <mat-card class="maincard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2 class="user">Manage Staff</h2>
                </div>
                <div class="col-12 col-md-6">
                    <button mat-raised-button class="adduser" (click)="AddUser()">
                        <i class="fa fa-plus"></i> Add User
                    </button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12 col-md-2">
                    <select class="form-control entries">
                        <option>Select Entries</option>
                        <option>10</option>
                        <option>10</option>
                        <option>10</option>
                        <option>10</option>
                    </select>
                </div>
                <div class="col-12 col-md-3 ml-auto">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label><i class="fa fa-search"></i> Search</mat-label>
                            <input matInput placeholder="Enter Value" value="" />
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-stripped table-bordered">
                            <thead>
                                <tr>
                                    <th>User Type</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>

                                    <th>Contact</th>
                                    <th>Mail</th>
                                    <th>Address</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of usersList">
                                    <td>{{ user.userTypeCode }}</td>

                                    <td>{{ user.firstName }}</td>
                                    <td>{{ user.lastName }}</td>
                                    <td>{{ user.mobileNo }}</td>
                                    <td>{{ user.email }}</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <mat-icon color="accent" class="m-1" matTooltip="Edit" (click)="EditUser(user)">
                                            border_color</mat-icon>
                                        <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<!-- table ends -->

<!-- adduser starts -->
<div class="container-fluid">
    <mat-card class="maincard" *ngIf="adduser == true">
        <div class="container">
            <mat-horizontal-stepper #stepper>
                <mat-step label="Add Details">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h4>Add Details *</h4>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12 col-md-6">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="Enter The First Name" [(ngModel)]="firstName" name="firstName" type="text" />
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="col-12 col-md-6">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="Enter The Last Name" [(ngModel)]="addusers.lastName" name="lastName" type="text" />
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                        <!-- 2nd row -->
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>User Type</mat-label>
                                        <mat-select name="userTypeCode" (selectionChange)="userType($event.value)">
                                            <mat-option *ngFor="let user of
                                                userTypes" [value]="user.userTypeCode">
                                                {{ user.userTypeName }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </form>
                            </div>
                            <!-- <div class="col-12 col-md-6">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Role</mat-label>
                                        <mat-select [(ngModel)]="roleId" name="roleId">
                                            <mat-option *ngFor="let role of
                                                roles" [value]="user.roleId">
                                                {{ role.roleName }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </form>
                            </div> -->
                            <div class="col-12 col-md-6">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Password</mat-label>
                                        <input matInput placeholder="Enter The Password" type="password" [(ngModel)]="addusers.password" name="password" type="password" />
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                        <!-- 2nd row ends -->
                        <!-- 3rd row -->
                        <div class="row">
                            <!-- <div class="col-12 col-md-6">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Password</mat-label>
                                        <input matInput placeholder="Enter The Password" type="password" [(ngModel)]="addusers.password" name="password" type="password" />
                                    </mat-form-field>
                                </form>
                            </div> -->
                            <div class="col-12 col-md-6">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Email Address</mat-label>
                                        <input matInput placeholder="Enter The Contact Number" type="email" [(ngModel)]="addusers.email" name="email" type="text" />
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                        <!-- 3rd row ends -->

                        <div style="float: right">
                            <button color="primary" class="m-1" mat-raised-button matStepperNext>
                                Next
                            </button>

                            <button mat-raised-button color="warn" (click)="Cancel()">
                                Close
                            </button>
                        </div>
                    </div>
                </mat-step>
                <mat-step label="Additional Details">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h4>Additional Details *</h4>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 col-md-6">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Contact</mat-label>
                                        <input matInput placeholder="Enter The Name" type="number" [ngModel]="addusers.mobileNo" />
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="col-12 col-md-6">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Address</mat-label>
                                        <textarea matInput placeholder="Enter The Address"></textarea>
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>

                        <div style="float: right">
                            <button color="primary" class="m-1" mat-raised-button matStepperPrevious>
                                Previous
                            </button>

                            <button color="primary" class="m-1" mat-raised-button (click)="SubmitUsers(addusers)">
                                Save
                            </button>
                            <button mat-raised-button color="warn" (click)="Cancel()">
                                Close
                            </button>
                        </div>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </mat-card>
</div>
<!-- adduser ends -->

<!-- edit user starts -->
<div class="container-fluid">
    <mat-card class="maincard" *ngIf="edituser == true">
        <div class="container">
            `
            <div class="row">
                <div class="col-12">
                    <h2>Edit User</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="Enter The Name" name="firstName" type="text" />
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-12 col-md-6">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Enter The Name" name="lastName" type="text" />
                        </mat-form-field>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>User Type</mat-label>
                            <mat-select name="userTypeCode" (selectionChange)="userType($event.value)">
                                <mat-option *ngFor="let user of userTypes" [value]="user.userTypeName">
                                    {{ user.userTypeName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-12 col-md-6">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Role</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let user of users">
                                    {{ user.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Enter The Name" type="password" [(ngModel)]="addusers.password" name="password" type="password" />
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-12 col-md-6">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Email Address</mat-label>
                            <input matInput placeholder="Enter The Contact
                                Number" type="email" [(ngModel)]="addusers.email" name="email" type="text" />
                        </mat-form-field>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Contact</mat-label>
                            <input matInput placeholder="Enter The Name" type="number" [ngModel]="addusers.mobileNo" />
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-12 col-md-6">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Address</mat-label>
                            <textarea matInput placeholder="Enter The Address"></textarea>
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button mat-raised-button color="primary" class="m-1">Save</button>
            <button mat-raised-button color="warn" (click)="Cancel()">Close</button>
        </div>
    </mat-card>
</div>
<!-- edit user ends -->