<!-- <ngx-spinner></ngx-spinner>





<section class="bg">
    <div class="content">

        <div class="from-content">
            <div class="text-center img">
                <img src="../../assets/download.png" alt="" class="zsoonimg">
            </div>

            <form class="example-form mt-3">
                <mat-form-field class="example-full-width">
                    <mat-label><i class="fa fa-envelope"></i> Email</mat-label>
                    <input matInput placeholder="Enter Mail" value="" type="email">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label><i class="fa fa-lock"></i>New Password</mat-label>
                    <input matInput placeholder="Enter Password" value="" type="password">
                </mat-form-field>


                <mat-form-field class="example-full-width">
                    <mat-label><i class="fa fa-lock"></i>Confirm Password</mat-label>
                    <input matInput placeholder="Enter Password" value="" type="password">
                </mat-form-field>
            </form>



            <div class="text-center mt-4  ">
                <button class="btn btn-success btn-block mt-4" routerLink="/dashboard">Submit</button>
            </div>



        </div>
    </div>
</section> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-sm-6 col-sm-6">
            <div class="logo"><img src="../../../assets//logo.svg" alt="" /></div>
            <h2 class="h2">Forgot Password <span class="stars">***</span></h2>
            <form class="form">
                <mat-form-field class="example-full-width">
                    <mat-label><i class="fa fa-envelope"></i> Email Address</mat-label>
                    <input matInput placeholder="Enter Email Address" />
                </mat-form-field>
                <br />
                <br />

                <div style="text-align: center">
                    <button mat-raised-button class="forgot" routerLink="/login">
            Send Mail
          </button>
                </div>
            </form>
        </div>
        <div class="col-lg-7 col-sm-6 col-sm-6">
            <div class="side-page"></div>
        </div>
    </div>
    <div class="row"></div>
</div>