mat-card {
    width: 100%;
}

button {
    outline: none;
    // border-radius: 18px;
}

.example-card {
    max-width: 400px;
    // border-radius: 22px;
    margin: 3px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-full-width {
    width: 100%;
}

table {
    width: 100%;
}

mat-icon {
    cursor: pointer;
    font-size: 1rem;
    outline: none;
}

.maincard {
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, .15);
    // border-radius: 22px;
    clear: both;
}

.maincard:hover {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    transform: translateY(-1px);
    transition: 0.6s;
}

.zsoonimg {
    border-radius: 50%;
}