<ngx-spinner></ngx-spinner>

<div class="container-fluid">
    <mat-card class="maincard">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <mat-form-field class="example-full-width">
                        <mat-label>Bike Stand</mat-label>
                        <mat-select>
                            <mat-option>Bike A</mat-option>
                            <mat-option>Bike A</mat-option>
                            <mat-option>Bike A</mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-3">
                    <mat-form-field class="example-full-width">
                        <mat-label>Bike Type</mat-label>
                        <mat-select>
                            <mat-option>Bike A</mat-option>
                            <mat-option>Bike A</mat-option>
                            <mat-option>Bike A</mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card>
</div>