<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-sm-6 col-sm-6">
            <div class="logo"><img src="../../../assets//logo.svg" alt="" /></div>
            <h2 class="h2">Register here <span class="stars">***</span></h2>

            <form class="form">
                <div class="container main">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label><i class="fa fa-user"></i>
                                    <span class="pl-1"> First Name</span></mat-label>
                                <input matInput placeholder="Enter First Name" />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <mat-form-field class="example-full-width" style="position: relative; right: 8%">
                                <mat-label><i class="fa fa-user"></i
                  ><span class="pl-1"> Last Name</span></mat-label
                >
                <input
                  matInput
                  placeholder="Enter Last Name"
                /> </mat-form-field
              ><br />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label
                  ><i class="fa fa-lock"></i> <span class="pl-1">Password</span>
                                </mat-label>
                                <input type="password" matInput placeholder="Enter Password" /> </mat-form-field><br />
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <mat-form-field class="example-full-width" style="position: relative; right: 8%">
                                <mat-label><i class="fa fa-lock"></i>
                                    <span class="pl-1"> Confirm Password</span></mat-label>
                                <input type="password" matInput placeholder="Enter Confirm Password" /> </mat-form-field><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label><i class="fa fa-envelope"></i
                  ><span class="pl-1"> Mail Address</span></mat-label
                >
                <input
                  matInput
                  placeholder="Enter Mail Address"
                /> </mat-form-field
              ><br />
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
              <mat-form-field
                class="example-full-width"
                style="position: relative; right: 8%"
              >
                <mat-label
                  ><i class="fa fa-phone"></i>
                                    <span class="pl-1">Contact.No</span>
                                </mat-label>
                                <input matInput placeholder="Enter Contact No" /> </mat-form-field><br />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label><i class="fa fa-home"></i> <span class="pl-1">State</span>
                                </mat-label>
                                <input matInput placeholder="Enter State" /> </mat-form-field><br />
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <mat-form-field class="example-full-width" style="position: relative; right: 8%">
                                <mat-label><i class="fa fa-home"></i> <span class="pl-1">City</span>
                                </mat-label>
                                <input matInput placeholder="Enter City" /> </mat-form-field><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <mat-form-field class="example-full-width">
                                <mat-label><i class="fa fa-address-book"></i>
                                    <span class="pl-1">Residental Address</span>
                                </mat-label>
                                <textarea matInput placeholder="Enter Residental Address"></textarea></mat-form-field><br />
                        </div>
                    </div>
                </div>

                <div style="text-align: center">
                    <button routerLink="/login" mat-raised-button class="reg">Register</button>
                </div>
            </form>
        </div>
        <div class="col-lg-7 col-sm-6 col-sm-6">
            <div class="side-page"></div>
        </div>
    </div>
    <div class="row"></div>
</div>